@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --tan: #5d4a3f;
  --muted: #6c6c6c;
  --muted-foreground: #c2c2c2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tan: var(--tan);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("/fonts/Helvetica.woff") format("woff"),
    url("/fonts/Helvetica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("/fonts/Helvetica-Bold.woff") format("woff"),
    url("/fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
